@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Hind', serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #fafafa;
  background-color: #262626;
}
a{
    color: #fafafa;
}

/********* all sections *********/

.container-fixed{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.uppercase{
    text-transform: uppercase;
}

/********* navigation *********/

.flex-nav{
    flex-direction: row;
}

.flex-nav li{
    padding-left:0.5em;
    padding-right:0.5em;
    font-size:110%;
}

@media  (min-width: 1024px) and (max-width: 1366px){
    .nav-large{
    padding-right: 4em;
    padding-left: 4em;
   }
}

@media  (min-width: 1367px){
    .nav-large{
    padding-right: 7em;
    padding-left: 7em;
   }
}

/********* footer *********/

.flex-footer{
    padding: 1.5em 1em -0.1em;
    margin-top:12px;
    margin-bottom:-8px;
    font-size:120%;
    letter-spacing: 2px;
    justify-content: center;
}
.footer-space{
    padding: 0.5em 1em -0.5em 1em;
} 

footer ul{
     list-style: none;
     display: flex;
}

footer li{
    padding-left:0.5em;
    padding-right:0.5em;
    letter-spacing: 0.5em;
}

footer p{
    text-align: right;
    padding-right:5em;
}