@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Hind', serif;
  font-size: 18px;
  font-weight: 400;
  /* line-height: 1.5em; */
  color: #fafafa;
  background-color: #262626;
}

p{
    margin: 0;
}

a{
    color: #fafafa;
}
a:hover{
    color: #6c757d;
}

h1{
    text-align: center;
    padding-top:0.5em;
}
h2, tbody{
    cursor: pointer;
}

/***** remove overload from bootstrap .row *****/
.row{
    margin: 0;
}

/********* all sections *********/

.container-fixed{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

/********* navigation *********/

.flex-nav{
    flex-direction: row;
}

.flex-nav li{
    padding-left:0.5em;
    padding-right:0.5em;
    
}

@media  (min-width: 1024px) and (max-width: 1366px){
    .nav-large{
    padding-right: 3em;
    padding-left: 3em;
    font-size:105%;
   }
}

@media  (min-width: 1367px){
    .nav-large{
    padding-right: 5em;
    padding-left: 5em;
    font-size:110%;
   }
}

/********* section *********/

section{
    padding: 19vh 0;
    margin-top: 7.5vh;
    margin-bottom: 5.5vh;
    background-image: url("../images/pexels-pixabay-41953_00.jpg");
    background-repeat: no-repeat;
    background-position: 50% ;
}

@media screen and (max-width: 768px){
    section{
        background-size: 100%;
    }
}

/********* cards *********/

.card{
    background-color: transparent;
    border: none;
}

.card-header{
    height: 3.75em;
    margin-top: 0.5em ;
    padding: 0.75em 0.75em;
    background-color:#233CCC;
    opacity: 0.8;
    border: 2px solid #ffffff;
    border-radius: 15px !important;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-header h2{
    margin-bottom: 0em;
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
}

.card-body{
    margin: 0em 0.5em 2em 0.5em;
    padding: 0em;
    background-color:#7090D0;
    opacity: 0.9;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.card-body button{
    margin-bottom: 1.5em;
}

@media screen and (max-width: 465px){
    .card-body{
        margin-bottom: 0.25em;
        font-size: 75%;
    }
    .card-body button{
        margin-bottom: 0.25em;
    }
}

#greatest h2, #lastEarthquakes h2, #customData h2 {
    padding-right:45vw;
    padding-top:1.75vh;
    padding-bottom: 1.75vh;
}

@media screen and (max-width: 1000px) {
    #greatest h2, #lastEarthquakes h2, #customData h2 {
        padding-right:30vw;
        padding-top:1.25vh;
        padding-bottom: 1.25vh;
    }
}

@media screen and (max-width: 700px) {
    #greatest h2, #lastEarthquakes h2, #customData h2, #knowledge {
        padding:0;
    }
}
@media screen and (max-width: 465px) {
    #greatest h2, #lastEarthquakes h2, #customData h2, #knowledge {
        padding:0;
        font-size:80%;
    }
    .card-header button{
        padding: .15rem .15rem;
        font-size:65%
    }
}
@media screen and (max-width: 359px) {
        #greatest h2, #lastEarthquakes h2, #customData h2, #knowledge {
        padding:0;
        font-size:70%;
    }
    .card-header button{
        padding: .125rem .125rem;
        font-size:65%
    }
}

/********* custom form *********/

#customdata form{
    margin-bottom:1em;
}

#customdata button{
    margin-bottom:1.5em;
}

#fieldset1 legend, #fieldset2 legend{
    padding-top: 0.25em;

}
#fieldset1 div{
    padding-left: 0.5em;
}
#customTime label{
    width:50px;
}

#showMagnitudeValueText{
    text-align: center;
    background-color: transparent;
    color:#fafafa;
    margin-left: 4.5em;
}

/********* table *********/

table{
    width: 100%;
    vertical-align: middle;
}
.table{
    margin-bottom: 0;
}
.table thead th, .table td{
    vertical-align: middle;
    width: 20%;
    text-align: center;
    padding: 0.25rem 0 0.25rem 0;
}

@media screen and  (max-width: 992px){
    table{
        font-size: 60%;
    }
}

/********* knowledge *********/

.sliderTop, .sliderMiddle, .sliderBottom{
    padding: 0.75em 0 0.25em 0;
    background-color: #458216;
    font-weight: 500;
    text-align: center;
}
.sliderTop p, .sliderMiddle p, .sliderBottom p{
    padding: 1.25em 1.75em 1.25em 1.75em;
    background-color: #258216;
    text-align: center;
}
.sliderTop img{
    width: 100%;
    max-width: 600px;
    height: auto;
}

/********* map *********/

#mapid {
    height: 650px;
}

/********* footer *********/

.flex-footer{
    padding-top:0.25em;
    margin: 0.25em 0;
}

footer ul{
    list-style: none;
    margin-bottom: 0.1em;
    display: flex;
    justify-content: center
}

footer li{
    padding-left:0.5em;
    padding-right:0.5em;
    letter-spacing: 0.5em;
}
footer li button{
     margin-bottom: 2px;
     color: #fafafa !important;
     border-color:  #fafafa !important;
     
}
footer li a i{
    margin-top: 5px;
}

/********* modal *********/

.modal-dialog{
    color:#262626;
}
.modal-header{
    display: block;
}
