@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Hind', serif;
  font-size: 18px;
  font-weight: 400;
  /* line-height: 1.5em; */
  color: #fafafa;
  background-color: #262626;
}

p{
    margin: 0;
}

a{
    color: #fafafa;
}

/********* all sections *********/

.container-fixed{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

/********* navigation *********/

.flex-nav{
    flex-direction: row;
}

.flex-nav li{
    padding-left:0.5em;
    padding-right:0.5em;
    
}

@media  (min-width: 1024px) and (max-width: 1366px){
    .nav-large{
    padding-right: 3em;
    padding-left: 3em;
    font-size:105%;
   }
}

@media  (min-width: 1367px){
    .nav-large{
    padding-right: 5em;
    padding-left: 5em;
    font-size:110%;
   }
}

/********* section *********/

section{
    padding: 25vh 0;
    background-image: url("../images/pexels-pixabay-41953_00.jpg");
    background-repeat: no-repeat;
    background-position: 50% ;
}

@media screen and (max-width: 768px){
    section{
        background-size: 100%;
    }
}

.card{
    background-color: transparent;
    border: none;
}

.card-header{
    margin: 5px 0 5px;
    background-color:#233CCC;
    opacity: 0.8;
    border: 2px solid #ffffff;
    border-radius: 15px !important;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.card-header h2{
    margin-bottom: 0em;
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
}

.card-body{
    margin: -5px 1em 1em 1em;
    padding: 0;
    background-color:#7090D0;
    opacity: 0.9;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

/********* greatest-data *********/

table{
    width: 100%;
    vertical-align: middle;
}
.table{
    margin-bottom: 0rem;
}
.table thead th, .table td{
    vertical-align: middle;
    width: 20%;
    text-align: center;
    padding: 0.25rem 0 0.25rem 0;
}

@media screen and  (max-width: 992px){
    table{
        font-size: 60%;
    }
}
/********* footer *********/

.flex-footer{
    padding: 1.5em 1em -0.1em;
    margin-top:12px;
    margin-bottom:-8px;
    letter-spacing: 2px;
    justify-content: center;
}
.footer-space{
    padding: 0em 1em 0em 1em;
} 

footer ul{
     list-style: none;
     display: flex;
}

footer li{
    padding-left:0.5em;
    padding-right:0.5em;
    letter-spacing: 0.5em;
}

footer p{
    text-align: right;
    padding-right:5em;
}

/* Popup method from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 15px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}